In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dpt2020.csv', sep=';')

In [3]:
df.head()

   sexe        preusuel annais dpt  nombre
0     1  _PRENOMS_RARES   1900  02       7
1     1  _PRENOMS_RARES   1900  04       9
2     1  _PRENOMS_RARES   1900  05       8
3     1  _PRENOMS_RARES   1900  06      23
4     1  _PRENOMS_RARES   1900  07       9

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3727553 entries, 0 to 3727552
Data columns (total 5 columns):
 #   Column    Dtype
---  ------    -----
 0   sexe      int64
 1   preusuel  object
 2   annais    object
 3   dpt       object
 4   nombre    int64
dtypes: int64(2), object(3)
memory usage: 142.2+ MB

In [5]:
df.describe()

               sexe        nombre
count  3.727553e+06  3.727553e+06
mean   1.535894e+00  2.323390e+01
std    4.987100e-01  8.047527e+01
min    1.000000e+00  3.000000e+00
25%    1.000000e+00  4.000000e+00
50%    2.000000e+00  7.000000e+00
75%    2.000000e+00  1.900000e+01
max    2.000000e+00  6.310000e+03

In [7]:
df.dpt.value_counts()

dpt
75    127100
59    103867
69     80879
13     79177
62     67952
       ...
09     15305
05     14928
04     13286
23     12482
48     11099
Name: count, Length: 100, dtype: int64

In [ ]:
df.preusuel.value_counts()